<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-vml.min.js"></script>
    <link rel="stylesheet" href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css"/>
    <link rel="stylesheet" href="https://cdn.anychart.com/releases/v8/fonts/css/anychart.min.css"/>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<div id="container"></div>
<script>
    anychart.onDocumentReady(function() {
        // Init first chart view
        var chart = anychart.fromJson(<%- chart %>);
        chart.draw();

        // Update chart with new data from server
        var socket = io();
        socket.on('update', function(data){
            chart.data(data);
        });
    });
</script>
</body>
</html>